*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: orange;
    perspective: 1500px;
    height: 100vh;
    width: 100vh;
}
h1{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    border: 4px solid red;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    width: 150px;
    height: 150px;
    animation: jamshid 4s infinite;
}
.container > *{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 252, 252, 0.908);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 28px;
    border: 5px solid blue;
}
.front{
    transform: translate3d(0,0,75px);
}
.back{
    transform: translate3d(0,0,-75px) rotateZ(180deg) rotateX(180deg);
}
.right{
    transform: translate3d(75px, 0, 0) rotateY(90deg);
}
.left{
    transform: translate3d( -75px, 0, 0) rotateY(-90deg);
}
.top{
    transform: translate3d(0, -75px, 0) rotateX(90deg);
}
.bottom{
    transform: translate3d(0, 75px, 0) rotateX(-90deg);
}

@keyframes jamshid {
    0%{
        transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
    }
    16.6%{
        transform: translate(-50%, -50%) rotateY(90deg) rotateX(0deg);
    }
    33.3%{
        transform: translate(-50%, -50%) rotateY(180deg) rotateX(0deg);
    }
    50%{
        transform: translate(-50%, -50%) rotateY(270deg) rotateX(0deg);
    }
    66.6%{
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(90deg);
    }
    83.3%{
            transform: translate(-50%, -50%) rotateY(360deg) rotateX(270deg);
    }   
    100%{
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(360deg);
    }
    
}
